
  /* To layout components in a grid arrangement */
  .about-grid {
    display: grid; /* Establishes a grid container */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Defines the column structure, creating as many columns as can fit without dropping below 250px, each taking up an equal fraction of the space available */
    gap: 50px; /* Sets both row and column gaps */
  }

  /* To layout multiple box components in a row or rows, centered and wrapping as needed */
  .boxes-container {
    display: flex; /* Establishes a flex container */
    flex-direction: row; /* This is the default value and could be omitted */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines from top to bottom if not enough space */
    gap: 10px; /* Sets spacing between flex items */
    margin-top: 40px; /* Adds top margin above the container */
  }

  /* Styling for individual quote boxes within a flex or grid container */
  .quote-box {
    flex: 1; /* Allows the box to grow to occupy the remaining space in the flex container */
    min-width: 250px; /* Ensures that the box does not shrink below 250px width */
    background-color: #e2e0c9; /* Set background Color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Sets the font family */
    font-size: 20px; /* Increase the font size as needed */
    padding: 10px 20px; /* Padding inside the box */
    max-width: 20%; /* Limits the width of the box, adjust as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* adds a subtle shadow */
    border: 4px solid #000000; /* Subtle border for visual separation */
    line-height: 1.6; /* Sets the line height to improve readability */
  }