
.navbar {
  width: 100%; /* Full width of the viewport */
  background-color: #e2e0c9; /* Background color of the navbar, adjust as needed */
  position: fixed; /* Fixed at the top*/
  border-bottom: 4px solid  #000;
  top: 0;
  left: 0;
  z-index: 100; /* Ensures navbar stays on top of other content*/
}
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 0px 20px;
  }
  
  /*.nav-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }*/
  
  .nav-menu {
    display: flex;
    justify-content: flex-end; /* Aligns the menu items to the right */
    list-style: none;
    margin-right: 20px; /* Adjust the right margin as needed */
  }
  
  .nav-item {
    padding: 25px 25px; /* Smaller padding for compact appearance */
  }
  
  .nav-links {
    text-decoration: none;
    color: #000; /* Color of the menu items */
    padding: 20px 0; /* Padding to increase the clickable area */
  }
  
  .nav-links:hover {
    background-color: #ddd; /* Change as needed */
  }
  
  /*to make navbar responsive*/
 @media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px; /* Adjust for smaller screens */
  }
  }